<div class="d-flex justify-content-center align-items-center vh-100">
  <div
    class="card p-4 shadow-lg bg-body-secondary text-light"
    style="width: 100%; max-width: 380px; border-radius: 16px"
    data-bs-theme="dark"
  >
    <h4 class="text-center mb-3">Cadastro</h4>

    <div
      *ngIf="mensagemErro()"
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
      data-bs-theme="light"
    >
      <strong>{{ mensagemErro() }}</strong>
      <button
        type="button"
        class="btn-close"
        aria-label="Fechar"
        (click)="mensagemErro.set('')"
      ></button>
    </div>
    <div
      *ngIf="mensagemSucesso()"
      class="alert alert-success alert-dismissible fade show"
      role="alert"
      data-bs-theme="light"
    >
      <strong>{{ mensagemSucesso() }}</strong>
      <button
        type="button"
        class="btn-close"
        aria-label="Fechar"
        (click)="mensagemSucesso.set('')"
      ></button>
    </div>

    <form [formGroup]="formulario" (ngSubmit)="criarConta()">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input
          type="nome"
          id="nome"
          class="form-control"
          formControlName="nome"
          placeholder="Digite seu nome"
          required
        />
        @if (formulario.get('nome')?.touched) {
          @if(formulario.get('nome')?.hasError('required')){
            <span class="text-danger"> Por favor informe o nome do usuário. </span>
            } @else if(formulario.get('nome')?.hasError('minlength')){
              <span class="text-danger">
              O nome do usuário deve ter pelo menos 6 caracteres.
              </span>
        }
      }
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
          placeholder="Digite seu e-mail"
          required
        />
        @if (formulario.get('email')?.touched) {
          @if(formulario.get('email')?.hasError('required')){
            <span class="text-danger"> Por favor informe o email do usuário. </span>
            } @else if(formulario.get('email')?.hasError('email')){
              <span class="text-danger">
              Informe um email válido.
              </span>
        }
      }
      </div>

      <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input
          type="password"
          id="senha"
          class="form-control"
          formControlName="senha"
          placeholder="Digite sua senha"
          required
        />
        @if (formulario.get('senha')?.touched) {
          @if(formulario.get('senha')?.hasError('required')){
            <span class="text-danger">
              Por favor informe a senha do usuário.
            </span>
            } @else if(formulario.get('senha')?.hasError('pattern')){
              <span class="text-danger">
                A senha deve ter no mínimo 8
                caracteres e incluir pelo menos uma letra maiúscula,
                uma minúscula, um número e um caractere especial (@$!%*?&._#^+=-).
              </span>
          }
        }
      </div>

      <div class="mb-3">
        <label for="senhaConfirmacao" class="form-label"
          >Confirme a Senha</label
        >
        <input
          type="password"
          id="senhaConfirmacao"
          class="form-control"
          formControlName="senhaConfirmacao"
          placeholder="Confirme sua Senha"
          required
        />
        @if (formulario.get('senhaConfirmacao')?.touched) {
          @if(formulario.get('senhaConfirmacao')?.hasError('required')){
            <span class="text-danger">
              Por favor confirme a senha do usuário.
            </span>
            }
        }
      </div>

      <button
        type="submit"
        [disabled]="formulario.invalid"
        class="btn btn-light w-100 mb-2"
      >
        Realizar Cadastro
      </button>

      <div class="text-center">
        Já tem conta?
        <a
          routerLink="/autenticar-usuario"
          class="text-info text-decoration-none"
          >Faça o login aqui</a
        >
      </div>
    </form>
  </div>
</div>
